<%= image_tag("app_etiteTeam.jpg", :alt => "The App-etite Team") %>
<h1>About Us</h1>
<p>Hello and welcome to our page! App-etite is a webapp dedicated to finding out which lunch is the best in an uncertain world. Post your lunches, vote on which you think is tastiest. DOWN VOTE YOUR ENEMIES. Do you think your food has what it takes? </p>
<p>If you'd like to learn more, please contact us at:</p>
<p>app.etite.devteam@gmail.com</p>
<p>Follow us on Twitter and Facebook!</p>
<ul>
	<li>@App_etite_team</li>
	<li href="https://www.facebook.com/groups/1586678871606739/">Facebook Group</li>
</ul>