<h1>Editing lunch</h1>

<%= render 'form' %>

<%= link_to 'Show', @lunch %> |
<%= link_to 'Back', lunches_path %> | <%= link_to 'Destroy', @lunch, method: :delete, data: { confirm: 'Are you sure?' } %>
