/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/*Header Settings*/
header {
    background-color: #413839;
}

.carousel-inner > .item > img {
    margin: 0 auto;
    padding-top: 2em;
}

#topNav {
    padding-top: .5em;
    padding-bottom: .5em;
    padding-left: 23em;
    background-color: #413839;
}

#topNav > li > a {
    color: #FFF8C6;
}

#topNav > li > a:hover {
    color: #413839;
    background-color: #FFF8C6;
}

#topNav > li > a:active {
    background-color: #FFF8C6;
}


#picHeader{
    font-family: 'Ribeye Marrow', cursive;
    color: #f89b00;
    font-size: 5em;
    position: relative;
    bottom: 2.5em;
    left: 4em;
}

#sideArrow {
    float: inline-block;
    color: #FFF8C6;
    font-size: 3em;
    list-style-type: none;
    text-decoration: none;
}

a .dropdown-toggle:hover {
    text-decoration: none;
}

#followMenu {
    list-style-type: none;
    text-decoration: none;
    float: inline-block;
}

ul li {
    display: inline-block;
    border: 0;
}
/*Body Settings*/

#bodyFiller {
    background-color: #FFB02C;
}

body {
    padding-top: 0;
}

tbody tr{
    border: solid #FFF8C6 1px;
}
tbody tr:nth-child(odd) {
   background-color: #f89b00;
}

tbody tr:nth-child(even) {
   background-color: #ffb741;
}

#ranker input {
    border: none;
    border-radius: .5em;
    background-color: transparent;
    height: 2em;
    width: 1.5em;
    display: inline-block;
}

.upVote {
    color: #000099;
    transform: rotate(270deg);
    font-size: 1.5em;
}

.downVote {
    color: #b20000;
    transform: rotate(90deg);
    font-size: 1.5em;

}
input {
    background-color: #FFF8C6;
}

.actions input {
    background-color: #FFF8C6;
    border-radius: 1em;
    border: none;
    margin: .5em;
}

.lunchHeader {
    text-align: center;
}

.insideLunch {
    padding-left: .5em;
    padding-right: .5em;
}