/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*Header Settings*/
/* .container{
    width: 100%;
    background-size: cover;
    padding: 0;
}*/

.headerBG {
  background-color: #413839;
  padding-bottom: 0;
  padding-top: 1em;
}

.carousel-inner {
    width: 60%;
    background-color: #413839;
    margin-left: 20%;
}

a {
    color: #FFF8C6;
}

a:hover {
    color: #4C4646;
    background-color: #FFF8C6;
}

#topNav {
    margin-left: 27%;
}

/*Body settings*/
body {
    background-color: #FFB02C;
    color: #4C4646;
    padding: 0;
}

#bodyContent.container{
    position: relative;
    left: 3em;
}