<footer class="footer">
  <small>
   Brought to you by Pizza
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", 'https://www.facebook.com/groups/1586678871606739/' %></li>
    </ul>
  </nav>
</footer>